body {
    font-family: sans-serif;
   /* background-color: lightgrey;*/
    margin-top: 65px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    font-family: verdana, sans-serif;
    
    margin: 0 auto;
    text-align: justify;
    border: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}

.linker {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.active, .hover, .visited {
    color: white;
}
h1 {
    font-weight: 900;
    font-size: 32px;
    color: blue;
}
