body {
    font-family: sans-serif;
   /* background-color: lightgrey;*/
    margin-top: 65px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


.container {
    max-width: 300px;
    font-family: verdana, sans-serif;
    padding-left: 0 /*60px 20px;*/;
    padding-right: 0;
    margin: 0 auto;
    text-align: justify;
   
    
}


.container2 {
    max-width: 300px;
    font-family: verdana, sans-serif;
   /* padding: 20px; /* 20px 20px; */ 
    margin: 0 auto;
    text-align: justify;
   /* border: thick; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-medium {
    align-content: "center";
    width: 100%;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}

.step-btn {
    width: 100%;
    padding: 0 0 2px 0;
    background: transparent;
    height: 40px;
}

.linker-div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.linker {
    color: white;
    text-decoration: none;
     padding-left: 20px /*60px 20px;*/;
    padding-right: 20px;
}
h1 {
    font-weight: 900;
    font-size: 32px;
    color: red;
}
a:hover {
    display: block;
}
}
