body {
    font-family: sans-serif;
   /* background-color: lightgrey;*/
    margin-top: 65px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    font-family: verdana, sans-serif;
    padding: 0 /*60px 20px;*/;
    margin: 0 auto;
    text-align: justify;
    border: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}


.container2 {
    max-width: 800px;
    font-family: verdana, sans-serif;
    padding: 0; /* 20px 20px; */
    margin: 0 auto;
    text-align: justify;
    border: thick;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.linker-div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.linker {
    color: white;
    text-decoration: none;
}
h1 {
    font-weight: 900;
    font-size: 32px;
    color: red;
}
a:hover {
    display: block;
}
}
